<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="{% block keyworks %}zxnn.net{% endblock %}" />
    <meta name="description" content="{% block description %}page of zxnn.net{% endblock %}" />
    <title>{% block title %}Zxnn.net{% endblock %}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
    <link rel="icon" sizes="16x16" href="/img/favicon.png" type="image/png" />
    <link rel="icon" sizes="128x128" href="/img/che_128x128.png" type="image/png" />
    <link rel="icon" sizes="192x192" href="/img/che_192x192.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/che_120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/che_152x152.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/img/che_192x192.png" />
    <link rel="apple-touch-icon" href="/img/che.png" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.deep_purple-indigo.min.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Zxnn.net</span>
                <div class="mdl-layout-spacer"></div>
                <div>
                    <button id="menu" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul for="menu" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
                        {% if user %}
                        <li class="mdl-menu__item">
                            <i class="material-icons">account_circle</i>
                            <span>Hi, {{ user.nickname }}</span>
                        </li>
                        <li class="mdl-menu__item">
                            <i class="material-icons">dashboard</i>
                            <a href="/dashboard/main.html">Dashboard</a>
                        </li>
                        <li class="mdl-menu__item">
                            <i class="material-icons">exit_to_app</i>
                            <a href="{{ log_url }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="mdl-menu__item">
                            <i class="material-icons">account_box</i>
                            <a href="{{ log_url }}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- Bottom row, not visible on scroll -->
            <div class="mdl-layout__header-row mdl-layout--large-screen-only">
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    {% block menu %}{% endblock %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Zxnn.net</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                {% if user %}
                <a class="mdl-navigation__link" href="/dashboard/main.html">Dashboard</a>
                {% endif %}
                <a class="mdl-navigation__link" href="/wow/main.html">Wow</a>
                <a class="mdl-navigation__link" href="/tools/main.html">Tools</a>
                <a class="mdl-navigation__link" href="http://blog.zxnn.net">Blog</a>
                {% if user %}
                <a class="mdl-navigation__link" href="{{ log_url }}">Logout</a>
                {% endif %}
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div id="container" class="mdl-grid mdl-grid--no-spacing">
                <div id="content" class="mdl-cell mdl-cell--12-col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer id="footer" class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    by <a href="mailto:root@zxnn.net">將王車</a>&nbsp;
                    <span>2008-2017</span>&nbsp;
                    using:&nbsp;<a href="http://appengine.google.com/">App Engine</a>&nbsp;
                    ·&nbsp;<a href="http://www.getmdl.io/">DML</a>
                    <!--
                    <a href="http://twitter.github.com/bootstrap/">bootstrap</a>
                        -->
                </div>
            </footer>
        </main>

    </div>
    <script type="text/javascript" src="/script/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/script/material.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var jContainer = $('#container');

            $(window).resize(function () {
                setContainerMinHeight();
            });

            setContainerMinHeight();

            function setContainerMinHeight() {
                jContainer.css('min-height', $(window).height() - (128 + 32 + 20 + 32));
            }
        })
    </script>
    {% block script %}
    {% endblock %}

    <!-- google analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-319269-6']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
