{% extends "template/base.html" %}

{% block menu %}
<a class="mdl-navigation__link" href="/"><i class="material-icons">home</i>Home</a>
{% if user %}
<a class="mdl-navigation__link" href="/dashboard/main.html"><i class="material-icons">dashboard</i>Dashboard</a>
{% endif %}
<a class="mdl-navigation__link" href="/wow/main.html">Wow</a>
<a class="mdl-navigation__link" href="/tools/main.html">Tools</a>
<a class="mdl-navigation__link" href="http://blog.zxnn.net">Blog</a>
{% endblock %}

{% block content %}
<section id="welcome" class="section">
    <div class="mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            <h4>Welcome</h4>
            <p>用於學習和測試html，javsscript，jquery，python，google app engine等網頁技術的個人站點，由於我很懶，所以大部分東西都屬於建設中或是還沒開始。</p>
        </div>
    </div>
</section>

<section id="ilog" class="section">
    <div class="mdl-shadow--2dp">
        <h4>iLog</h4>
        {% include "template/ilog/ls.html" %}
    </div>
</section>
    {% endblock %}
