/* css reset */
body {
    padding: 0;
    margin: 0;
    /*font-family: "Hiragino Sans GB W3";*/
    font-size: 14px;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 15px;
}

p {
    margin: 15px 0;
}
/* end css reset */

#header {
    text-align: center;
}

#header-container {
    text-align: left;
    margin: 0 auto;
    width: 960px;
}

#user-info {
    float: right;
    padding: 6px 10px 10px 10px;
    margin-right: 15px;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#userInfo {
}

#siteName {
    height: 30px;
}

/*#siteDesc
{
  margin-top: 2px;
  padding-top: 20px;
  height: 320px;
  font-size: 64px;
}*/

#nav {
    border: 1px solid Red;
}

#menu {
    margin: 0;
    padding: 0;
    height: 40px;
}

#main-nav {
    display: block;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 33px;
    margin-left: 10px;
}

#main-nav li {
    float: left;
    text-align: center;
    list-style: none;
    margin-left: 5px;
}

#main-nav li a {
    display: block;
    width: 115px;
    height: 33px;
    text-decoration: none;
    color: #336699;
    background-color: rgba(256, 256, 256, 0.7);
    font-family: 'Ubuntu Condensed';
    font-size: 24px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#main-nav li.current a {
    background-color: #FFF;
    border-bottom: 2px solid #FFF;
}

#main-nav li.active a {
    background-color: #FFF;
    border-bottom: 2px solid #e5786d;
}

#wrapper {
    text-align: center;
}

#container {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    clear: both;
}

#content {
    /*border: 1px solid #FFF;
    border-radius: 7px;
    margin: 0 260px 0 15px;
    min-height: 480px;
    background-color: #FFF;*/
}

#main-content {
    border: 1px solid #FFF;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin: 0 0 0 15px;
    min-height: 480px;
    background-color: #FFF;
}

#main {
    margin: 0 15px;
}

#sidebar {
    float: right;
    width: 220px;
    padding-right: 10px;
    min-height: 25em;
}

#footer
{
    /*border-top: 1px solid #7F9DB9;*/
    text-align: center;
    height: 60px;
}
