/* css reset */
body {
  padding: 0;
  margin: 0;
  /*font-family: "Hiragino Sans GB W3";*/
  font-size: 14px;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 15px;
}

p {
  margin: 20px;
}
/* end css reset */

#header
{
  text-align: center;
  /*border-bottom: 1px solid #7F9DB9;*/
}

#headercontent
{
  text-align: left;
  height: 45px;
  margin: 0 auto;
  width: 960px;
}

#infobar
{
  float: right;
  margin-right: 10px;
}

#userInfo
{
}

#siteName 
{
  height: 30px;
}

/*#siteDesc
{
  margin-top: 2px;
  padding-top: 20px;
  height: 320px;
  font-size: 64px;
}*/

#nav {
  border: 1px solid Red;
}

#menu {
  margin: 0;
  padding: 0;
  height: 40px;
}

#main-nav {
    display: block;
    padding: 0;
    margin: 0;
    height: 45px;
}

#main-nav li {
    float: left;
    text-align: center;
    list-style: none;
    margin-left: 1px;
}

#main-nav li a {
    display: block;
    width: 64px;
    height: 36px;
    border-top: 1px solid #336699;
    border-right: 1px solid #336699;
    border-left: 1px solid #336699;
    border-radius: 3px;
    text-decoration: none;
}

#wrapper {
  text-align: center;
}

#container {
  text-align: left;
  width: 960px;
  margin: 15px auto;
  clear: both;
}

#sidebar {
  float: right;
  width: 220px;
  padding-right: 10px;
  min-height: 25em;
}

.sidebar-w {
    padding: 10px 0 0 10px;
}

#content {
  border-top: 1px solid #FFF;
  margin-right: 260px;
  padding: 0 20px;
  min-height: 480px;
}

#footer
{
  /*border-top: 1px solid #7F9DB9;*/
  text-align: center;
  height: 60px;
}
