#header {
    height: 120px;
    background-color: #592C63;
    color: #336699;
}

#userinfo {
    margin-top: 5px;
}

#footer {
    min-height: 60px;
    background-color: #592C63;
    color: silver;
}

#sitename {
    font-family: Ubuntu;
    font-size: 64px;
    color: #336699;
}

#nav {
    font-family: Ubuntu;
}