{% extends "template/base.html" %}

{% block menu %}
{% if user %}
<li class="{% if module == 'dashboard' %} active{% endif %} divider-vertical"><a href="/dashboard/main.html">Dashboard</a></li>
<li class="{% if module == 'avatar' %} active{% endif %} divider-vertical"><a href="/dashboard/avatar.html">Avatar</a></li>
<li class="{% if module == 'ilog' %} active{% endif %} divider-vertical"><a href="/ilog/main.html">iLog</a></li>
<li class="{% if module == 'todone' %} active{% endif %} divider-vertical"><a href="/todone/">Todone</a></li>
<!--<li class="{% if module == 'countdown' %} active{% endif %} divider-vertical"><a href="/countdonw/">Countdown</a></li>-->
{% endif %}
{% endblock %}
