<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="keywords" content="{% block keyworks %}zxnn.net{% endblock %}" />
<meta name="description" content="{% block description %}page of zxnn.net{% endblock %}" />
<title>{% block title %}Zxnn.net{% endblock %}</title>
<link rel="icon" type="image/png" href="/img/favicon.png" />
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/css/dark.css" />
{% block style %}
{% endblock %}
<!--<script type="text/javascript" src="/script/jquery.js"></script>-->
<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAsMW1Gwp3EoyQ-HDRYOhxUhR3xGMdYbtd0rg-tK3f6drgHTIm2xSE46LEw2aBzDhqk-5I7wIQ1UH5xw"></script>
<script type="text/javascript">
//<![CDATA[
google.load("jquery", "1");
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
// menu and page layout
$(document).ready(function() {
    //$('#nav').insertAfter($('#infobar'));
    $('#menu > li').mouseenter(function (){
        $(this).addClass('active');
    }).mouseleave(function() {
        $(this).removeClass('active');
    });
    $('#sidebar').insertBefore($('#content'));
    $('#content').css('min-height', $(window).height() - 160);
});
//]]>
</script>
{% block script %}
{% endblock %}
</head>
<body>
    <header id="header">
        <div id="headercontent">
        {% block header %}
            <div id="infobar">
                <span id="userInfo">{% if user %}{% if nickname %}{{ nickname }}{% else %}{{ user.nickname }}{% endif %} | <a href="/dashboard/main.html">Dashboard</a> | <a href="{{ log_url }}">Logout</a>{% else %}<a href="{{ log_url }}">Login</a>{% endif %}</span>{% block otherinfo %}{% endblock %}
            </div>
        {% endblock %}
        </div>
    </header>
    <nav id="nav">
        <ul id="menu">
            <li><a href="/dashboard/main.html">Dashboard</a></li>
            <li><a href="http://blog.zxnn.net" target="_blank">Blog</a></li>
        </ul>
    </nav>
    <div id="wrapper">
        <div id="container">
            <section id="content">
            {% block content %}{% endblock %}
            </section>
            <aside id="sidebar">
            {% block sidebar %}{% endblock %}
            </aside>
        </div>
    </div>
    <footer id="footer">
        <p>by <a href="mailto:root@zxnn.net">將王車</a>&nbsp;<span>2008-2011</span>&nbsp;<a href="http://appengine.google.com/"><img style="border: 0;"src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a></p>
    </footer>
</body>
</html>
