<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="keywords" content="{% block keyworks %}zxnn.net{% endblock %}" />
<meta name="description" content="{% block description %}page of zxnn.net{% endblock %}" />
<title>{% block title %}Zxnn.net{% endblock %}</title>
<link rel="icon" type="image/png" href="/img/favicon.png" />
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/css/dark.css" />
{% block style %}
{% endblock %}
<!--<script type="text/javascript" src="/script/jquery.js"></script>-->
<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAsMW1Gwp3EoyQ-HDRYOhxUhR3xGMdYbtd0rg-tK3f6drgHTIm2xSE46LEw2aBzDhqk-5I7wIQ1UH5xw"></script>
<script type="text/javascript">
//<![CDATA[
google.load("jquery", "1");
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
// menu and page layout
$(document).ready(function() {
    //$('#nav').insertAfter($('#infobar'));
    $('#menu > li').mouseenter(function (){
        $(this).addClass('active');
    }).mouseleave(function() {
        $(this).removeClass('active');
        });
    $('#sidebar').insertBefore($('#content'));
    $('#content').css('min-height', $(window).height() - 160);
});
//]]>
</script>
{% block script %}
{% endblock %}
</head>
<body>
<header id="header">
    <div id="headercontent">
    {% block header %}{% endblock %}
    </div>
</header>
<nav id="nav">
    <ul id="menu">
        <li><a href="/dashboard/main.html">Dashboard</a></li>
        <li><a href="http://blog.zxnn.net" target="_blank">Blog</a></li>
    </ul>
</nav>
<div id="wrapper">
    <div id="container">
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <aside id="sidebar">
        {% block sidebar %}
            <div class="sidebar-w">
                {% if user %}
                Hi, {{ user.nickname() }}
                {% else %}
                    <a href="{{ log_url }}">Login</a>
                {% endif %}
            </div>
        {% endblock %}
        </aside>
    </div>
</div>
<footer id="footer">
    <p>by <a href="mailto:root@zxnn.net">將王車</a>&nbsp;<span>2008-2012</span>&nbsp;<a href="http://appengine.google.com/"><img style="border: 0;"src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a></p>
</footer>
<!-- google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-319269-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>