<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="{% block keyworks %}zxnn.net{% endblock %}" />
    <meta name="description" content="{% block description %}page of zxnn.net{% endblock %}" />
    <title>{% block title %}Zxnn.net{% endblock %}</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    {% block style %}
    {% endblock %}
</head>
<body>
    <header id="header">
        <div class="container">
            <div style="float: right;">
                {% if user %}
                Hi, {{ user.nickname }} <a href="{{ log_url }}">Logout</a>
                {% else %}
                <a href="{{ log_url }}">Login</a>
                {% endif %}
            </div>
            <h1 id="sitename"><a href="/">Zxnn</a></h1>
        </div>
    </header>
    <div style="width: 100%; background-color: Black; background-image: -webkit-linear-gradient(top,#222,#111); height: 42px;">
        <div class="container">
            <nav id="nav" class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul id="menu" class="nav">
                        {% block menu %}{% endblock %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="wrapper" class="container container-fluid">
        <div id="container" class="row-fluid">
            <div id="content" class="span8">
                {% block content %}{% endblock %}
            </div>
            <div id="sidebar" class="span3 offset1">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container" style="padding-top: 20px;">
            <p>by <a href="mailto:root@zxnn.net">將王車</a>&nbsp;<span>2008-2012</span>&nbsp;using:&nbsp;<a href="http://appengine.google.com/">app engine</a>&nbsp;·&nbsp;<a href="http://twitter.github.com/bootstrap/">bootstrap</a></p>
        </div>
    </footer>
    <!--<script type="text/javascript" src="/script/jquery.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/script/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#container').css('min-height', $(window).height() - 222);
            $(window).resize(function () {
                $('#container').css('min-height', $(window).height() - 222);
            });

            $('#menu a').click(function (e) {
                //e.preventDefault();
                $(this).tab('show');
            });
        })
    </script>
    {% block script %}
    {% endblock %}
    <!-- google analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-319269-6']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>