#container {
    max-width: 960px;
}

#content {
    margin: 1em 0;
}

.section {
    padding: 0 24px 24px 24px;
    margin-bottom: 24px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}