{% extends "template/admin_base.html" %}
{% block title %}ToDone - Zxnn.net{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/todone.css">
{% endblock %}

{% block script %}<script type="text/javascript" src="/script/todone.js"></script>{% endblock %}

{% block otherinfo %}
| <a href="/todone/settings/">Settings</a>
{% endblock %}

{% block content %}
  <div id="todoneItemsConetnt">
      <ul id="todoneItems">
      <li><input id="txtNewItem" name="txtNewItem" type="text" /></li>
      {% include 'template/todone/item_list.html' %}
      </ul>
    </div>
  </div>
{% endblock %}
