{% extends "../base.html" %}
{% block title %}ToDone - Zxnn.net{% endblock %}
{% block style %}
<style type="text/css" title="Dark">
    @import url(/css/layout.css);
    @import url(/css/dark.css);
    @import url(/css/todone.css);
</style>
{% endblock %}

{% block script %}<script type="text/javascript" src="/script/todone.js"></script>{% endblock %}

{% block otherinfo %}
| <a href="/todone/settings/">Settings</a>
{% endblock %}

{% block content %}
  <div id="todoneItemsConetnt">
      <ul id="todoneItems">
      <li><input id="txtNewItem" name="txtNewItem" type="text" /></li>
      {% include 'item_list.html' %}
      </ul>
    </div>
  </div>
{% endblock %}
